// Main Wrapper around Table
.dataTables_wrapper {
    // Items per page
    .dataTables_length {
        position: absolute;
        right: 0;
        top: 45px;
        font-size: 0.8rem;

        label {
            font-size: 0;
        }

        select[name="dataFilter_length"] {
            border: none;
            border-bottom: 2px solid $color-txt-primary;
            @include rounded(0);
            outline: none;
            height: 35px;
        }

        @include media(sm) {
            top: auto;
        }
    }
    // Main Search
    .dataTables_filter {
        margin: 0 auto;
        text-align: center;
        float: none;
        font-size: 0.8rem;

        label {
            font-size: 0;
        }

        input[type="search"] {
            position: relative;
            width: calc(100% - 45px);
            background-color: $color-primary-light;
            border: 1px solid $color-secondary-light;
            outline: none;
            font-family: $font-family-primary;
            line-height: 1rem;
            padding: 10px;
            margin: 0 0 0 45px;
            @include box-shadow(0px, 1px, 2px, rgba(0,0,0,.15), inset);
            transition: outline ease-out;

            &:hover {
                border: 1px solid $color-secondary-medium;
            }

            &:focus {
                border: 1px solid $color-bg-mint;
                @include box-shadow(0px, 0px, 4px, rgba(0,0,0,.3), inset);
            }

            @include media(sm) {
                width: 400px;
            }
        }
    }
    // Main Pagination
    .dataTables_paginate {
        font-size: 0.8rem;

        .paginate_button {
            border: none !important;
            background: none !important;
            box-shadow: none !important;
            color: $color-txt-dark;

            &.current {
                border-bottom: 2px solid $color-txt-dark !important;
            }

            &:hover,
            &:focus {
                color: $color-txt-dark !important;
            }

            &.next,
            &.previous {
                text-indent: -9999px;
                overflow: hidden;
                background: transparent url(assets/icons/arrow_next.svg) center center no-repeat !important;
                background-size: .6rem !important;
                vertical-align: top;
                height: 20px;
                width: 20px;

                &.disabled {
                    opacity: .3;
                }
            }

            &.previous {
                background: transparent url(assets/icons/arrow_previous.svg) center center no-repeat !important;
                background-size: .6rem !important;
            }
        }
    }
    // Main Table Info
    .dataTables_info {
        font-size: 0.8rem;
        display: none;

        @include media(sm) {
            display: block;
        }
    }
    // main Table for filtering
    .c-mainTable {
        display: grid;
        border-collapse: collapse !important;
        width: 100%;
        margin: 50px auto 0 !important;
        background: transparent;
        border: none !important;
        grid-template-rows: auto;
        grid-template-columns: 130px auto;
        grid-template-areas: "header  body" "header  body";

        @include media(md) {
            margin: 25px auto 0 !important;
        }

        @include media(xl) {
            grid-template-columns: auto;
            grid-template-areas: "header  header" "body  body";
        }

        &.fixedHeader-floating,
        &.fixedHeader-locked {
            top: auto !important;


            @include media(xl) {
                top: 0 !important;
                display: block;
            }
        }

        &__title {
            position: relative;
            z-index: $z-index--header;
        }

        &__button {
            position: absolute;
            padding: 0;
            top: -37px;
            left: 0;

            @include media(md) {
                top: 0;
                left: -45px;
            }

            input[type="button"] {
                cursor: pointer;
                text-align: left;
                padding: 0 .8rem;
                font-family: 'Poppins';
                font-size: .8rem;
                color: $color-primary-light;
                border: none;
                outline: none;
                height: 40px;
                width: 130px;
                @include rounded(.3em .3em 0 0);
                background: $color-bg-turquise url(assets/icons/filter.svg) right 7px center no-repeat;
                background-size: 1.1rem;
                transition: all 250ms ease-in-out;
                -webkit-tap-highlight-color: transparent;

                @include media(md) {
                    height: 40px;
                    width: 40px;
                    text-indent: -9999px;
                    overflow: hidden;
                    background-position: center center;
                    background-size: 1.4rem;
                    @include rounded(.3em);

                    &:hover,
                    &:active,
                    &:focus {
                        @include box-shadow(0, 2px, 6px, rgba(0,0,0,.08));
                        background-color: darken($color-bg-turquise, 5%);
                        -webkit-tap-highlight-color: transparent;
                    }
                }
            }
        }

        &__filters {
            position: absolute;
            top: 0;
            left: 0;
            height: auto;
            background: rgba($color-primary-light,.95) !important;
            @include box-shadow(0, 2px, 6px, rgba(0,0,0,.08));
            opacity: 1;
            z-index: $z-index--under--header;
            transition: left 0.5s;

            @include media(xl) {
                height: 100%;
                opacity: 1;
                max-height: 0;
                overflow: hidden;
                position: relative;
                top: auto;
                left: auto;
                transition: max-height 0.5s, overflow 0s;
            }

            .datalist-modal {
                display: contents;
            }

            .datalist-filter {
                outline: none !important;
                padding: 3px;
                margin: .333rem;
                height: 28px;
                opacity: 0;
                @include rounded();
                border: 1px solid $color-bg-mint;
                background-color: $color-primary-light;
                transition: border 250ms, opacity 250ms;

                @include media(xl) {
                    margin: 15px;
                }

                &:hover {
                    border: 1px solid $color-bg-mint;
                }

                &:active, &:focus {
                    border: 1px solid $color-bg-turquise;
                }
            }

            &.open {
                left: 130px;
                opacity: 1;

                .datalist-filter {
                    opacity: 1;
                }

                @include media(xl) {
                    top: auto;
                    left: auto;
                    max-height: 5em;
                    overflow: visible;
                    transition: max-height 0.5s, overflow 0.5s 0.5s;
                }
            }
        }

        thead {
            position: relative;
            margin: 0;
            grid-area: header;
            width: auto;
            top: auto;

            &.fixed {
                @include media(xl) {
                    position: fixed;
                    top: 0;
                    margin-right: 60px;
                    animation: smoothScroll 400ms forwards;
                }
            }

            tr {
                background-color: lighten($color-bg-accents, 5%);
                @include rounded();

                @include media(xl) {
                    background-color: rgba($color-bg-accents, .9);
                }

                th {
                    color: $color-txt-light;
                    font-size: .8rem;
                    font-weight: normal;
                    border: none;
                    border-bottom: 1px solid $color-bg-redorange;

                    @include media(xl) {
                        border-bottom: none;
                    }

                    &:first-child {
                        border-radius: .3em 0 0 .3em;
                    }

                    &:last-child {
                        border-bottom: 0 !important;
                        border-radius: 0 .3em .3em 0;

                        @include media(xl) {
                            border-right: 0 !important;
                        }
                    }
                }

                .sorting,
                .sorting_asc,
                .sorting_desc {
                    background-image: url(assets/icons/sort.svg);
                    background-position: right 6px center;
                    background-repeat: no-repeat;
                    background-size: 0.7rem;
                }

                .sorting_asc {
                    background-image: url(assets/icons/sort_asc.svg);
                    background-color: darken($color-bg-accents, 5%);
                }

                .sorting_desc {
                    background-image: url(assets/icons/sort_desc.svg);
                    background-color: darken($color-bg-accents, 5%);
                }
            }
        }

        tbody {
            grid-area: body;
            display: grid;
            grid-auto-flow: column;
            overflow-x: scroll;
            @include box-shadow(0, 2px, 6px, rgba(0,0,0,.08));
            background: rgba($color-primary-light,.95) !important;
            @include rounded();
            margin: 0;
            overflow-y: hidden;

            @include media(xl) {
                margin: .5rem 0;
                grid-auto-flow: row;
                overflow-x: hidden;
            }

            tr {
                background: transparent !important;

                td {
                    border: 1px solid darken($color-secondary-light, 5%) !important;
                    border-width: 0 0 1px 1px !important;
                    font-size: .8rem;

                    @include media(xl) {
                        border-width: 1px 1px 0 0 !important;
                    }

                    &.checked,
                    &.unchecked,
                    &:last-child {
                        text-indent: -9999px;
                        overflow: hidden;
                        white-space: nowrap;
                        background: url(assets/icons/check.svg) center center no-repeat;
                        background-size: 1rem;
                    }

                    &.unchecked {
                        background-image: url(assets/icons/uncheck.svg);
                    }
                }

                &.odd td,
                &.even td {

                    &.sorting_1 {
                        background-color: rgba($color-bg-mint,.1) !important;
                    }
                }

                &:hover {
                    background-color: rgba($color-secondary-light,.8) !important;
                }
            }
        }

        thead tr,
        tbody tr {
            display: grid;
            width: 100%;
            grid-auto-flow: column dense;
            grid-template-rows: repeat(13, 1fr);
            grid-auto-columns: minmax(130px, auto);


            @include media(xl) {
                grid-auto-flow: row dense;
                grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr);
                grid-template-rows: auto;
            }
        }

        tbody tr {
            @include media(md-max) {
                grid-auto-columns: minmax(120px, auto);
            }
        }

        th,
        td {
            padding: .8rem !important;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: left;
            box-sizing: content-box;
            transition: 250ms;

            &:focus {
                outline: none !important;
                box-shadow: none !important;
            }

            @include media(xl) {
                text-align: center;

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(5),
                &:nth-child(7) {
                    text-align: left;
                }
            }
        }
    }
}