// main Table for filtering
.dataTables_wrapper {

    .dataTables_length {
        float: right;
        font-size: 0.8rem;
    }

    .dataTables_filter {
        margin: 0 auto;
        text-align: center;
        float: none;
        font-size: 0.8rem;
    }

    .filterdropdown {
        display: block;
        margin: 0 auto;
        border: none;
        outline: none;
        color: $color-txt-light;
        background-color: transparent;
        font-weight: bold;

        option {
            color: $color-txt-primary;
        }
    }
}

.c-mainTable {
    display: grid;
    border-collapse: collapse !important;
    width: 100%;
    margin: 25px auto 0 !important;
    background: transparent;
    border: none !important;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "header  body" "header  body";

    @include media(md) {
        grid-template-areas: "header  header" "body  body";
    }


    thead {
        @include box-shadow(0, 2px, 6px, rgba(0,0,0,.08));
        margin: 0 0 15px;
        grid-area: header;

        tr {
            background: rgba($color-bg-accents,.9);
            @include rounded();

            th {
                position: sticky;
                top: 0;
                border: none !important;
            }

            th:last-child {
                border: 0;
            }
        }
    }

    tbody {
        @include box-shadow(0, 2px, 6px, rgba(0,0,0,.08));
        background: rgba($color-primary-light,.9) !important;
        @include rounded();
        grid-area: body;

        tr {
            background: transparent !important;

            &.odd td,
            &.even td {
                border: none !important;

                &.sorting_1 {
                    background: rgba($color-bg-turquise-light,.6) !important;
                }
            }

            &:hover {
                td {
                    background: rgba($color-bg-mint-light,.6) !important;
                }
            }
        }
    }

    thead tr,
    tbody tr {
        display: grid;
        width: 100%;
        grid-template-columns: minmax(120px, 1fr) minmax(120px, 1fr) 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    th,
    td {
        padding: 15px 20px !important;
        font-size: 0.9em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        background-image: none !important;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(5),
        &:nth-child(7) {
            text-align: left;

            .filterdropdown {
                float: left;
            }
        }
    }
}
