// search and pagination
.dataTables_wrapper {
    
    // Items per page
    .dataTables_length {
        float: right;
        font-size: 0.8rem;

        label {
            font-size: 0;
        }

        select[name="dataFilter_length"] {
            border: none;
            border-bottom: 2px solid $color-txt-primary;
            border-radius: 0;
            outline: none;
            height: 35px;
        }
    }

    // Main Search
    .dataTables_filter {
        margin: 0 auto;
        text-align: center;
        float: none;
        font-size: 0.8rem;

        label {
            font-size: 0;
        }

        input[type="search"] {
            position: relative;
            width: 35%;
            background-color: $color-primary-light;
            border: none;
            outline: none;
            font-family: $font-family-primary;
            line-height: 1rem;
            padding: 10px;
            margin: 0 0 0 5px;
            @include box-shadow(0px, 1px, 2px, rgba(0,0,0,.15), inset);

            &::-webkit-search-cancel-button {
                -webkit-appearance: searchfield-cancel-button;
            }
        }
    }
}

// main Table for filtering
.c-mainTable {
    display: grid;
    border-collapse: collapse !important;
    width: 100%;
    margin: 25px auto 0 !important;
    background: transparent;
    border: none !important;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "header  body" "header  body";

    @include media(md) {
        grid-template-areas: "header  header" "body  body";
    }

    thead {
        @include box-shadow(0, 2px, 6px, rgba(0,0,0,.08));
        margin: 0 0 15px;
        grid-area: header;
        position: sticky;
        top: 0;

        tr {
            background: rgba($color-bg-accents,.9);
            @include rounded();

            th {
                color: $color-txt-light;
                font-size: .9rem;
                font-weight: normal;
                border: none;
            }

            .sorting {
                background-image: url(assets/icons/sort.svg);
                background-size: 0.7rem;
            }

            .sorting_asc {
                background-image: url(assets/icons/sort_asc.svg);
                background-size: 0.7rem;
            }

            .sorting_desc {
                background-image: url(assets/icons/sort_desc.svg);
                background-size: 0.7rem;
            }

            th:last-child {
                border: 0;
            }
        }
    }

    &__button {
        position: absolute;
    }

    &__modal {
        display: contents;
    }

    &__filters {
        background: rgba($color-primary-light,.95) !important;

        input.datalist-filter {
            padding: 5px;
            margin: 15px;
            @include rounded();
            border: 1px solid $color-bg-mint;
        }
    }

    tbody {
        @include box-shadow(0, 2px, 6px, rgba(0,0,0,.08));
        background: rgba($color-primary-light,.95) !important;
        @include rounded();
        grid-area: body;

        tr {
            background: transparent !important;

            &.odd td,
            &.even td {
                border: none !important;

                &.sorting_1 {
                    background: rgba($color-bg-mint-light,.6) !important;
                }
            }

            &:hover {
                td {
                    background: rgba($color-secondary-light,.8) !important;
                }
            }
        }
    }

    thead tr,
    tbody tr {
        display: grid;
        width: 100%;
        grid-template-columns: minmax(120px, 1fr) minmax(120px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr);
    }

    th,
    td {
        padding: 15px 20px !important;
        font-size: 0.9em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(5),
        &:nth-child(7) {
            text-align: left;
        }
    }
}
