// Font path works best by reaching it with relative path from style.scss


@font-face {
	font-family: "Poppins";
	src: url("assets/fonts/Poppins-Regular.ttf") format("ttf");
	src: url("assets/fonts/Poppins-Regular.eot") format("eot");
	src: url("assets/fonts/Poppins-Regular.woff") format("woff");
	src: url("assets/fonts/Poppins-Regular.woff2") format("woff2");
}

$font-family-primary: "Poppins";
$font-family-secondary: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
 