// Basic color palette provided by the design team for general layout
$color-primary: #171C34;
$color-secondary: #919AA3;

$color-primary-light: #fff;
$color-secondary-light: #fff;

 
//Basic colors for text
$color-txt-primary: #000; 
$color-txt-secondary: #171C34;
$color-txt-light:  #fff;
$color-txt-dark: #000;

/*
color-error
color-warning
color-neutral
color-success
*/


// Action colors provided for highlighted elements
$color-highlight-txt: red;
$color-highlight-elem: pink;




