//Breakpoint for max size for small mobile devices
$break-xs: 480px;

//Breakpoint for max size for small mobile devices
$break-sm: 770px;  

//Breakpoint for larger mobile or smaller tablet devices
$break-md: 960px;

//Breakpoint for larger tablet or smaller laptop devices
$break-lg: 1200px;

//Last breakpoint for any kind of smaller devices or viewports
$break-xl: 1600px;   