//Breakpoint for max size for small mobile devices
$break-xs: 480px;

//Breakpoint for max size for small mobile devices
$break-sm: 768px;  

//Breakpoint for larger mobile or smaller tablet devices
$break-md: 960px;

//Breakpoint for larger tablet or smaller laptop devices
$break-lg: 1200px;

//Last breakpoint for any kind of smaller devices or viewports
$break-xl: 1600px;

$breakpoints: ( 
    xs: $break-xs, 
    xs-max: ($break-xs), 
    sm: $break-sm, 
    sm-max: ($break-sm), 
    md: $break-md, 
    md-max: ($break-md), 
    lg: $break-lg, 
    lg-max: ($break-lg), 
    xl: $break-xl
);

$media-queries: ( 
    xs: '(min-width: #{breakpoint(xs)})', 
    sm: '(min-width: #{breakpoint(sm)})', 
    md: '(min-width: #{breakpoint(md)})', 
    lg: '(min-width: #{breakpoint(lg)})', 
    xl: '(min-width: #{breakpoint(xl)})',  
    xs-max: '(max-width: #{breakpoint(xs-max)})', 
    sm-max: '(max-width: #{breakpoint(sm-max)})', 
    md-max: '(max-width: #{breakpoint(md-max)})', 
    lg-max: '(max-width: #{breakpoint(lg-max)})'
);

/* --------------------------------
    Media query mixin. Ignore error in this mixin.
-------------------------------- */
@mixin media($query) {
    @media screen and #{inspect(map-get($media-queries, $query))} {
        @content;
    }
}
/* --------------------------------
    Media query function.
-------------------------------- */
@function breakpoint($breakpoint) {
    @return map-get($breakpoints, $breakpoint);
}