.p-homepage {
    padding: 20px;

    @include media(md) {
        padding: 60px;
    }

    input, select, a {
        &:focus,
        &:active {
            border: none;
            outline: none;
        }
    }

    &__content {
        .c-logo {
            position: absolute;
            margin: 0;
        }
    }
}
