.p-homepage {
    padding: 60px;

    input, select, a {
        &:focus, 
        &:active {
            border: none;
            outline: none;
        }
    } 

    &__content {
        .c-logo {
            position: absolute;
            margin: -5px 0 0;
        }
    }
}
