.p-homepage {
    padding: 20px;

    @include media(md) {
        padding: 60px;
    }

    input, select, a {
        &:focus,
        &:active {
            border: none;
            outline: none;
        }
    }

    &__content {
        .c-logo {
            position: absolute;
            margin: 0;

            span {
                @include media(md-max) {
                    clip-path: circle(40px at left);
                }
            }
        }
    }
}
